body {
    font-family: arial, Verdana;
    font-size: 12px;
    width: auto;
    overflow: visible;
    margin-bottom: 2px;
    background-color: #1e1e1e;
    width: 800px;
    height: 800px;
}

#item {
    width: auto;
    height: auto;
    padding: 10px;
    display: flex;
    background-color: #1e1e1e;
    justify-content: flex-start;
}

.menu {
    width: 80px;
    font-size: 12px;
    text-align: center;
    padding: 5px 5px;
    margin: auto 5px;
}